<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Dockex</string>
  <key>CFBundleExecutable</key>
  <string>dockex.sh</string>
  <key>CFBundleIconFile</key>
  <string>dockex.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.github-treye.dockex</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleName</key>
  <string>dockex</string>
</dict>
</plist>
